body {color: #101010;font-family: 'Noto Sans KR', sans-serif;font-size: 16px;line-height: 1.6;word-break: keep-all;min-width: 1500px;position: relative;background: #101010;}

.inner {width: 1280px;padding: 0 40px;margin: 0 auto;}

/* header */

header {position: fixed;top: 0;left: 0;width: 100%;z-index: 10;transition: 0.5s;}

header.hide {top: -150px;}

header > .inner {position: relative;height: 127px;}

header .logo {position: absolute;top: 50%;transform: translateY(-50%);left: 40px;background-image: url(../images/icons/genesis_logo.webp);background-position: cetner;background-size: contain;background-repeat: no-repeat;width: 120px;height: 20px;}

header .logo a {display: block;height: 100%;}

/* hov */

header.hov {background: #fff;}

header.hov .logo {filter: brightness(0.5);}

header.hov .gnb .depth1 .depth1_title {color: #101010;}

header.hov .util {color: darkgray;}

header.hov .util .icon_menu {background-image: url(../images/icons/icon-menu-gray.svg);}

header.hov .util .icon_src {background-image: url(../images/icons/icon-search-gray.svg);}

header.hov .util .btn_thesharp {filter: brightness(0.5);}

/* gnb */

.gnb {height: 127px;margin-left: 150px;}

.gnb > ul {display: flex;height: 100%;}

.gnb > ul .depth1 {display: inline-block;margin: 0;padding: 30px 40px;font-size: 15px;font-weight: 500;line-height: 22px;letter-spacing: -0.02em;cursor: pointer;position: relative;}

.gnb > ul .depth1:hover::after {content: " ";height: 3px;width: 100%;display: block;position: absolute;bottom: 0;left: 0;background: #101010;}

.gnb > ul .depth1 .depth1_title {display: block;text-align: center;line-height: 67px;border-bottom: 4px solid transparent;color: #fff;}

.gnb > ul .depth1 .container {position: fixed;top: 127px;left: 0;width: 100%;text-align: center;background: #fff;visibility: hidden;opacity: 0;padding: 40px 0;}

.gnb > ul .depth1.on .container {visibility: visible;opacity: 1;border-top: 1px solid #eee;}

.gnb > ul .depth1 .container .inner {padding: 40px;position: relative;}

.img_form ul {overflow: hidden;margin-bottom: -20px;}

.img_form ul .depth2 {width: calc((100% - 40px)/3);height: 257px;margin-right: 20px;margin-bottom: 20px;float: left;position: relative;}

.img_form ul .depth2:nth-of-type(3n) {margin-right: 0;}

.img_form ul .depth2 a {position: relative;display: block;height: 100%;overflow: hidden;}

.img_form ul .depth2 a .bg {width: 100%;height: 100%;object-fit: cover;transition: .3s;}

.img_form ul .depth2 a:hover .bg {transform: scale(1.2);}

.img_form ul .depth2 a:hover::after {content: "";width: 100%;height: 100%;background-color: #000;opacity: .4;position: absolute;top: 0;left: 0;z-index: 10;}

.img_form ul .depth2 a .txt_area {color: #fff;z-index: 20;font-size: 25px;line-height: 1.4;letter-spacing: -0.03em;font-weight: 300;position: absolute;bottom: 30px;left: 30px;text-align: left;}

.img_form ul .depth2 a .name {font-weight: 500;font-size: 35px;}

.basic_form .title_area {float: left;width: 248px;height: 300px;position: relative;}

.basic_form .title_area .point {display: block;font-size: 46px;line-height: 53px;letter-spacing: -0.03em;text-align: left;}

.basic_form .title_area .link_area {position: absolute;left: 0;bottom: 20px;}

.basic_form .title_area .link_area .deco {display: block;width: 75px;height: 30px;background-color: #101010;border-radius: 7px;color: #fff;font-size: 10px;line-height: 30px;text-align: center;font-weight: 300;margin-bottom: 5px;position: relative;}

.basic_form .title_area .link_area .deco::before {content: "";width: 0;height: 0;border-style: solid;border-width: 8px 4px 0 4px;border-color: #101010 transparent transparent transparent;position: absolute;bottom: -8px;left: 24px;}

.basic_form .title_area .link_area a {color: #4B5151;font-size: 15px;line-height: 26px;font-weight: 300;letter-spacing: -0.04em;display: block;}

.basic_form .title_area .link_area a::after {content: " ";display: inline-block;width: 26px;height: 26px;margin-left: 10px;background-image: url(../images/icons/sub_menu.svg);background-size: cover;background-repeat: no-repeat;background-position: center;position: relative;top: 7px;}

.basic_form > ul {overflow: hidden;width: calc(100% - 248px);padding: 0 0 22px 20px;}

.basic_form ul .depth2 {float: left;width: 25%;}

.basic_form ul .depth2 h4 {font-size: 20px;font-weight: 400;line-height: 40px;margin-bottom: 10px;letter-spacing: -0.02em;}

.basic_form ul .depth2 h4.link {transition: 0.3s;}

.basic_form ul .depth2 h4.link:hover {color: #777;}

.basic_form ul .depth2 ul {margin-bottom: 20px;}

.basic_form ul .depth2 ul li {font-size: 15px;line-height: 35px;letter-spacing: -0.03em;}

.basic_form ul .depth2 ul li a {font-weight: 300;color: #666666;transition: 0.3s;}

.basic_form ul .depth2 ul li a:hover {color: #000;} 

/* header util */

header .util {position: absolute;top: 49%;transform: translateY(-50%);right: 15px;width: 280px;display: flex;justify-content: space-between;align-items: center;color: #fff;}

header .util .cs_center {font-size: 14px;line-height: 20px;}

header .util .icon_menu {display: inline-block;width: 14px;height: 14px;background-image: url('../images/icons/icon-menu-white.svg');background-size: 14px 14px;background-repeat: no-repeat;background-position: center;}

header .util .lang {font-size: 14px;font-weight: 500;line-height: 20px;letter-spacing: -0.02em;}

header .util .icon_src {display: inline-block;width: 14px;height: 14px;background-image: url('../images/icons/icon-search-white.svg');background-size: 14px 14px;background-repeat: no-repeat;background-position: center;}

header .util .btn_thesharp {display: inline-block;width: 38px;height: 21px;background-image: url('../images/icons/hyundai_logo.webp');background-size: contain;background-position: center top;background-repeat: no-repeat;}

/* all_menu */

.all_menu {position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: #fff;z-index: 20;visibility: hidden;opacity: 0;transition: 0.3s;overflow: scroll;}

.all_menu.on {visibility: visible;opacity: 1;}

.all_menu .inner {padding-top: 70px;}

.all_menu .title_area {display: flex;justify-content: space-between;margin-bottom: 50px;}

.all_menu .btn_close {display:block;overflow: hidden;}

.all_menu .btn_close i {width: 25px;height: 25px;background-image: url(../images/icons/icon-close.svg);background-size: cover;background-color: #fff;display: block;cursor: pointer;background-repeat: no-repeat;}

.all_menu .sitemap > ul {display: flex;justify-content: space-between;}

.all_menu .sitemap > ul .depth1 {padding: 0 20px;}

.all_menu .sitemap > ul .depth1:nth-of-type(1) {width: 8%;}

.all_menu .sitemap > ul .depth1:not(:first-child) {width: calc((100% - 8%)/6);}

.all_menu .sitemap > ul .depth1+.depth1 {border-left: 1px solid #E4E4E4;}

.all_menu .sitemap > ul .depth1_title {color: #000;font-size: 16px;font-weight: 500;margin-bottom: 20px;}

.all_menu .sitemap .depth1 > ul .depth2 {margin-bottom: 20px;}

.all_menu .sitemap .depth1 > ul .depth2.no_sub {margin-bottom: 5px;}

.all_menu .sitemap .depth1 > ul .depth2_title {font-size: 12px;line-height: 30px;letter-spacing: -0.03em;margin-bottom: 5px;}

.all_menu .sitemap .depth1_title.no_sub {margin-top: 30px;}

.all_menu .sitemap .depth2 > ul .depth3 {font-size: 10px;line-height: 22px;font-weight: 300;color: #666666;padding: 0 0 0 5px;}

/* src_menu */

.src_menu .container {position: fixed;top: 127px;left: 0;width: 100%;text-align: center;background: #fff;visibility: hidden;opacity: 0;padding: 40px 0 60px;transition: 0.3s;}

.src_menu.on .container {visibility: visible;opacity: 1;}

.src_menu .src_area {margin-bottom: 50px;overflow: hidden;border-bottom: 1px solid #E4E4E4;transition: 0.3s;}

.src_menu .src_area:hover {border-bottom-color: #00A5E5;}

.src_menu .src_area .src_text {width: calc(100% - 100px);height: 100px;float: left;font-size: 30px;letter-spacing: -0.03em;font-weight: 300;outline: none;}

.src_menu .src_area button {float: right;}

.src_menu .src_area button i {display: block;width: 100px;height: 100px;background-color: #fff;cursor: pointer;background-image: url('../images/icons/icon-search-gray.svg');background-size: 30px 30px;background-position: center;background-repeat: no-repeat;}

.src_menu .keywords {overflow: hidden;}

.src_menu .keywords a {display: block;float: left;margin-right: 10px;height: 40px;line-height: 38px;font-size: 14px;border: 1px solid #D9D9D9;padding: 0 20px;border-radius: 20px;transition: 0.3s;}

.src_menu .keywords a:hover {border: 1px solid #00A5E5;color: #00A5E5;}

.src_menu .keywords a::before {content: "#";display: inline-block;}

/* footer */

footer .footer_top {height: 172px;border-top: 1px solid rgba(165, 168, 168, 0.3);position: relative;background: #000;color: #fff;}

footer .footer_top .inner {position: relative;height: 100%;display: flex;justify-content: space-between;align-items: center;padding-right: 258px;}

footer .footer_top .f_link {font-size: 16px;line-height: 1;letter-spacing: -0.03em;font-weight: 500;overflow: hidden;}

footer .footer_top .f_link h2 {background-image: url(../images/icons/genesis_logo.webp);width: 100px;height: 14.59px;float: left;margin-right: 20px;background-size: contain;
background-repeat: no-repeat;}

footer .footer_top .f_link h2 a {display: block;height: 100%;}

footer .footer_top .f_link a {float: left;margin-right: 20px;transition: 0.3s;}

footer .footer_top .f_link a:hover {color: #999;}

footer .footer_top .sns {position: absolute;top: 50%;transform: translateY(-50%);right: 120px;}

footer .footer_top .sns::before {content: "Social Network";color: #fff;display: inline-block;position: absolute;top: 50%;left: -133px;transform: translateY(-50%);font-family: "Nunito Sans", sans-serif;font-size: 15px;line-height: 1;}

footer .footer_top .sns .btn_sns {display: block;float: left;margin-right: 24px;width: 64px;height: 64px;background-size: cover;background-repeat: no-repeat;background-position: center;}

footer .footer_top .sns .btn_sns:hover {filter: brightness(5);}

footer .footer_top .sns .btn_sns.youtube {background-image: url('../images/icons/icon-youtube.svg');}

footer .footer_top .sns .btn_sns.instagram {background-image: url('../images/icons/icon-instagram.svg');}

footer .footer_top .banner {position: absolute;top: 50%;transform: translateY(-50%);right: 80px;}

footer .footer_top .banner .logo_hyundai {background-image: url(../images/icons/hyundai_logo.webp);display: block;width: 161px;height: 34px;background-size: contain;background-position: center;position: absolute;background-repeat: no-repeat;top: 50%;left: 50%;transform: translate(-50%,-50%);}

footer .info_area {padding: 55px 0;border-top: 1px solid rgba(165, 168, 168, 0.3);font-size: 12px;line-height: 15px;}

footer .info_area i {display: inline-block;margin: 0 12px;width: 1px;height: 12px;background-color: #677070;position: relative;top: 2px;}

footer .info_area .policy {margin-bottom: 10px;color: #A5A8A8;}

footer .info_area .policy a {display: inline-block;font-size: 14px;}

footer .info_area .info {font-size: 12px;line-height: 15px;color: #A5A8A8;}

footer .info_area .info .address {margin-bottom: 10px;}

footer .info_area .info .copyright .f_blue {color: #00A5E5;}




